@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* App.css */
.app {
    font-family: 'Space Mono', monospace;
    background-color: black;
    color: white;
  }
  
  nav {
    background: #333;
    padding: 10px;
    text-align: center;
  }
  

  
  nav button:hover {
    background: #0056b3;
  }
  
  div {
    text-align: center;
  }
  