.navbar {
    background-color: #151515;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .navbar ul li a{
    font-size: 2rem;
  }
  
  .navbar button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .navbar button:hover {
    text-decoration: underline;
  }
  